.Projects {
    text-align: right;
    color: #222;
    margin-top: 100px;
}
.ForestOneBanner {
    width: 100%;
}
.ProjectsContent {
    margin: 10px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ProjectsHeaders {
    position: relative;
    font-size: 3rem;
    background-color: #222;
    width: 300px;
    color: #FAFBD2;
    padding: 10px 15px;
    text-align: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    }