.Projects {
    text-align: right;
    color: #222;
    margin-top: 100px;
}
.ForestOneBanner {
    width: 100%;
}
.ProjectsContent {
    margin: 10px auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ProjectsHeaders {
    position: relative;
    font-size: 3rem;
    background-color: #222;
    width: 20%;
    color: #FAFBD2;
    padding: 10px 15px;
    text-align: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.ProjectsInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ProjectsCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border: 5px solid #E76768;
    border-radius: 10px;
}
.ProjectsImages {
    width: 350px;
    height: 250px;
}
.ImagesLinks {
    width: 350px;
    height: 250px;
    cursor: pointer;

    transition: all 0.3s;
}
.ImagesLinks:hover {
    opacity: .8;
}
.ProjectsBtns {
    font-size: 1.5rem;
    width: 350px;
    cursor: pointer;
    border: 2px solid #E76768;
    background-color: #E76768;
    color: #FAFBD2;

    transition: all 0.3s;
}
.ProjectsBtns:hover {
    color: #222;
    background-color: #FAFBD2;
}
.ProjectsTextWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translateY(40px)
}
.ProjectsText {
    font-size: 1.8rem;
    text-align: left;
    text-indent: 2rem;
    padding: 5px;
    font-weight: 900;
}
.ProjectsTitles {
    position: absolute;
    font-size: 1.4rem;
    color:#FAFBD2;
    background-color: #E76768;
    width: 200px;
    padding: 10px;
    z-index: 10;
}
.Right {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: translate(-190px, 40px);
    text-align: left;
}
.Left {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: right;
    transform: translate(385px, 40px);
}
.TechUsed {
    display: flex;
    justify-content: start;
    margin: 10px 0px;
}
.TechHeader {
    text-align: left;
    padding: 10px;
    color: #777;
}
.TechIcons {
    font-size: 3.5rem;
    padding: 0px 5px;
}
.NoFontIcon {
    width: 54px;
}
.html {
    color: #E54C25;
}
.css {
    color: #146FB1;
}
.javascript {
    color: #F0DB4F;
}
.php {
    color: #7478AE;
}
@media only screen and (max-width: 1650px) {
    .ProjectsText {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 1400px) {
    .ProjectsText {
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 1200px) {
    .ProjectsHeaders {
        width: 30%;
    }
    .ProjectsText {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 1100px) {
    .ProjectsInfo {
        flex-direction: column;
    }
    .OrderTop {
        order: 1;
    }
    .OrderBot {
        order: 2;
    }
    .ProjectsTextWrapper {
        width: 90%;
        margin: 0 auto;
    }
    .Left {
        transform: translate(30px, 50px);
    }
    .Right {
        transform: translate(170px, 50px);
    }
    .ProjectsText {
        font-size: 1.5rem;
    }
    .ProjectsTextWrapper {
        transform: translateY(0px);
    }
}
@media only screen and (max-width: 650px) {
    .ProjectsHeaders {
        width: 40%;
    }
    .ProjectsText {
        font-size: 1.3rem;
    }
}