.BackTop {
    position: absolute;
    -webkit-transform: translate(50px, -150px);
        -ms-transform: translate(50px, -150px);
            transform: translate(50px, -150px);
}
.BackToTop {
    font-size: 3rem;
    cursor: pointer;
    border: 5px solid #E76768;
    color: #FAFAD2;
    background-color: #E76768;
    padding: 0px 10px;
    border-radius: 10px;

    -webkit-transition: all 0.2s;

    -o-transition: all 0.2s;

    transition: all 0.2s;
}
.BackToTop:hover {
    border-color: #CF5C5D;
    background-color: #CF5C5D;
}
.BackTopSocials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.BackTopIcon {
    font-size: 2.5rem;
    color:#E76768;
    background-color: #FAFAD2;
    border: 2px solid #E76768;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;

    -webkit-transition: all 0.2s;

    -o-transition: all 0.2s;

    transition: all 0.2s;
}
.BackTopIcon:hover {
    color: #FAFAD2;
    background-color: #CF5C5D;
    border-color: #CF5C5D;
}
.BT1 {
    -webkit-transform: translate(-70px, -20px);
        -ms-transform: translate(-70px, -20px);
            transform: translate(-70px, -20px);
}
.BT2 {
    -webkit-transform: translate(-50px, 30px);
        -ms-transform: translate(-50px, 30px);
            transform: translate(-50px, 30px);
}
.BT3 {
    -webkit-transform: translate(-30px, -20px);
        -ms-transform: translate(-30px, -20px);
            transform: translate(-30px, -20px);
}
@media only screen and (max-width: 1150px) {
    .BackTop {
        -webkit-transform: translate(50px, -150px);
            -ms-transform: translate(50px, -150px);
                transform: translate(50px, -150px);
    }
}
@media only screen and (max-width: 600px) {
    .BackTop {
        -webkit-transform: translate(50px, -130px);
            -ms-transform: translate(50px, -130px);
                transform: translate(50px, -130px);
    }
}