.About {
    color: #222;
    text-align: center;
}
.AboutContent {
    margin: 10px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AboutText {
    color: #222;
    text-align: left;
}
.AboutIcons {
    margin: 5px;
}
.AboutText p {
    text-indent: 2rem;
    font-size: 2rem;
    padding: 5px 15px;
}
.ForestBanner {
    width: 100%;
}
.AboutHeaders {
    position: relative;
    width: 100%;
    left: 80%;

    font-size: 3rem;
    background-color: #222;
    color: #FAFBD2;
    padding: 10px 15px;
    text-align: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.AboutBanner {
    display: flex;
    flex-direction: column;
    overflow-X: hidden;
}