.ForestBanner2 {
    width: 100%;
}
.ContactBanner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-X: hidden;
}
.ContactHeaders {
    position: relative;
    left: 80%;
    font-size: 3rem;
    background-color: #222;
    color: #FAFBD2;
    padding: 10px 15px;
    text-align: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    -webkit-transition: all 0.3s;

    -o-transition: all 0.3s;

    transition: all 0.3s;
}
.ContactContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #222;
}
.ContactForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px;
}
.ContactPosition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.ContactInputsWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.ContactInputs {
    padding: 5px 10px;
    font-size: 1.5rem;
    margin: 15px;
    background-color: #FAFBD2;
    border-radius: 10px;
    border: 2px solid #E76768;
}
.ContactInputs:focus {
    outline: none;
}
#ContactTextArea {
    width: 400px;
    height: 175px;
    font-size: 1.5rem;
    margin: 30px;
    padding: 5px 10px;
    background-color: #FAFBD2;
    border-radius: 10px;
    border: 2px solid #E76768;

    -webkit-transition: all 0.3s;

    -o-transition: all 0.3s;

    transition: all 0.3s;
}
#ContactTextArea:focus {
    outline: none;
}
.ContactSubmit {
    font-size: 2rem;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #E76768;
    color: #FAFBD2;
    cursor: pointer;
    border: 2px solid #E76768;
    -webkit-transform: translateX(50px, 20px);
        -ms-transform: translateX(50px, 20px);
            transform: translateX(50px, 20px);

    -webkit-transition: all 0.2s;

    -o-transition: all 0.2s;

    transition: all 0.2s;
}
.ContactSubmit:hover {
    border-color: #CF5C5D;
    background-color: #CF5C5D;
}
.ContactSubmit:focus {
    outline: none;
}
.ContactSubmit:disabled {
    background-color: #555;
    cursor: not-allowed;
}
.Sending {
    position: absolute;
    right: 50%;
}
@media only screen and (max-width: 1200px) {
    .ContactHeaders {
        left: 70%;
    }
}
@media only screen and (max-width: 1150px) {
    .ContactForm {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 50px;
        padding-bottom: 50px;
    }
}
@media only screen and (max-width: 1000px) {
    .ContactPosition {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
@media only screen and (max-width: 650px) {
    .ContactHeaders {
        left: 55%;
    }
}
@media only screen and (max-width:500px) {
    #ContactTextArea {
        width: 300px;
        height: 175px;
        font-size: 1.5rem;
        margin: 30px;
        padding: 5px 10px;
        background-color: #FAFBD2;
        border-radius: 10px;
        border: 2px solid #E76768;
    }
}