.Intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 90vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 95px;
}
.IntroWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.Me {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid #222;
    margin: 10px;
}
.Typewriter__wrapper, .Typewriter__cursor {
    font-size: 5rem;

    -webkit-transition: all 0.3s;

    -o-transition: all 0.3s;

    transition: all 0.3s;
}
.TypeEffect {
    margin: 10px;
}
.CallToActionWrapper {
    position: absolute;
    bottom: 30px;
}
.CallToAction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #222;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;

    -webkit-transition: color .3s;

    -o-transition: color .3s;

    transition: color .3s;
}
.CallToAction:hover {
    color: #E76768;
}

  
 @media only screen and (max-width: 700px) {
    .Typewriter__wrapper, .Typewriter__cursor {
        font-size: 4rem;
    }
} 