.Intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
    margin-bottom: 95px;
}
.IntroWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Me {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid #222;
    margin: 10px;
}
.Typewriter__wrapper, .Typewriter__cursor {
    font-size: 5rem;

    transition: all 0.3s;
}
.TypeEffect {
    margin: 10px;
}
.CallToActionWrapper {
    position: absolute;
    bottom: 30px;
}
.CallToAction {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;

    transition: color .3s;
}
.CallToAction:hover {
    color: #E76768;
}

  
 @media only screen and (max-width: 700px) {
    .Typewriter__wrapper, .Typewriter__cursor {
        font-size: 4rem;
    }
} 