.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.FooterBanner {
    width: 100%;
    margin: 0 auto;
}
.FooterText {
    font-size: 1.3rem;
    text-align: center;
    color: #999;
    margin: 20px;
}
.FooterBackTop {
    position: absolute;
    font-size: 10rem;
}