.Socials {
    margin: 10px;
}
.Icon {
    font-size: 5rem;
    padding: 5px 10px;
    cursor: pointer;
    color: #222;

    transition: color .3s;
}
.Icon:hover {
    color: #E76768;
}
@media only screen and (max-width: 700px) {
    .Icon {
        font-size: 3rem;
        padding: 5px 10px;
    }
}