body {
    font-family: 'Nunito', sans-serif;
    background-color: lightgoldenrodyellow;
    overflow-X: hidden;
}
i {
    font-style: italic;
}
* {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
  }