.Nav {
    position: fixed;
    width: 200px;
    background-color: #E76768;
    height: 100vh;
    border-right: 5px solid #222;
    z-index: 999;
}
.NavItems {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.NavLinks {
    color: #222;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    margin-top: 40px;

    transition: color 0.3s;
}
.NavLinks:hover {
    color: #FAFAD2;
}
.LanguagesPosition {
    position: absolute;
    bottom: 30px;
    left: 35px;
}
.LanguagesWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #222;

    transition: color .3s;
}
.Languages:hover {
    color: #FAFAD2;
    cursor: pointer;
}
.Languages img {
    width: 50px;
    height: 33px;
    border: 2px solid #222;
    border-radius: 10px;
    margin: 5px;
}